# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Next.js landing
landing/.next/
landing/out/
landing/.vercel/
landing/.turbo/
landing/.env
landing/.env.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders



# Android native
android/.gradle/
android/app/build/
android/build/
android/local.properties


# iOS native 
Pods/
*.xcworkspace
*.xcodeproj

# IDEs
.vscode/
.idea/
